body {
    background-color: burlywood;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
}
.box {display: grid;
     grid-template-areas: "main  main main"
                          "aside side side"
                          ". . ."
                           ;
    ;}

.main {background-color: white;
grid-area: main;
justify-self: center;
padding: 20px 80px;}
.side{background-color:green;
    grid-area: aside;
    justify-self: end;
    width: 59%;
    padding-left:  ;}
.aside {background-color:pink;
    grid-area: side;
    text-decoration: none;
    justify-self:start ;
    padding-left: 0%;
    width: 60%;
 ul > li {text-decoration: none;}
.attribution 
h1 {color:blue;}
h2 {color: yellow;}
p {color: black;}
button {width: 30%;
       height: 3rem;
       border-radius: 2rem;
    }